.main-container{
    padding: 10% 10%;
    background-color: #de8518;
}

.item{
    background-color: aliceblue;
}

.test-style{
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.item p{
    color: #000;
}

.item h2{
    color: #de8518;
}