.main-container {
    background-color: #000000;
    background-size: cover;
    padding: 40px 0;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.item {
    text-align: left;
    flex-grow: 1;
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.item-empty{
    min-width: 300px;
    padding: 20px;
}

.txt-title1{
    font-size: 25px;
}

.nav-right a {
    color: #9e9a9a;
    text-decoration: none;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}