.display-flex{
    display: flex;
}

.main-container{
   height: 600px;
   background-color: rgb(210, 214, 213);

}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.self-end{
    align-self: flex-end;
}

.align-center{
    align-items: center;
}

.item{
    flex-basis: 20%;
    height: 200px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 16px -3px rgba(0,0,0,0.34);
    -webkit-box-shadow: 10px 5px 16px -3px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 5px 16px -3px rgba(0,0,0,0.34);
    border-radius: 20px;
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .item{
        background-color: bisque;
    }
}

@media screen and (max-width: 600px) {
    .item{
        flex-grow: 1;
        margin-bottom: 20px;
        background-color: rgb(170, 164, 164);
    }
}