body
    font-family: nimbus-sans,sans-serif
    font-size: 15px
    color: $main-color!important
    line-height: 1.45

.bg-light
    background-color: $white!important

a.nav-link.active
    color: $main-color!important

.vr
    background-color: $main-color!important
    width: 1px
    opacity: .80

h2
    font-weight: 700
    font-size: 3em

.txt-small
    color: $txt-light

.btn
    background-color: $txt-light
    padding: 5.6px 28px
    margin-right: 15px
    margin-top: 3px

.btn-blue
    background-color: $main-color
    padding: 5.6px 28px

.btn-white
    background-color: $white
    padding: 5.6px 28px

footer ul
    padding-left: 0px
    
.lista
    list-style: none

a
    text-decoration: none
    color: $main-color

.bg-primary
    background-color: $card-body!important

.card
    border-radius: 2em
    text-align: center
    height: 275px