body {
    font-family: 'Roboto', sans-serif;
}

.banner-container {
    background-color: #000;
    width: 100%;
    height: 500px;
    line-height: 0%;
}

.banner-intro{
    font-size: 30px;
    color: #ffffff;
    padding-top: 100px;
    padding-left: 110px;
    margin: 0px;
}

.banner-intro-1{
    color: #ffffff;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 110px;
}

.banner-legend{
    color: #ffffff;
    padding-top: 20px;
    padding-left: 110px;
}

.banner-container-footer{
    padding-top: 200px;
}

.left-float{
    color:#ffffff; 
    float: left;
    font-size: 12px;
    padding-left: 110px;
}

.right-float a{
    color: #999999;
    text-decoration: none;
    float: right;
    font-size: 12px;
    padding-right: 40px;
}

#nav-principal {
    display: flow-root;
    padding-top: 30px;
    font-size: 15px;
}

#nav-principal a {
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
}

#nav-principal a:hover {
    color: #EFAC43;
}

.nav-logo{
    float: left;
    font-size: 30px;
}

.nav-left {
    float: left;
    padding-top: 14px;
}

.nav-right {
    float: right;
    padding-top: 2px;
}

.gray{
    color: #7e7a7a;
}

.second-container{
    margin-bottom: 250px;
}

.title-1{
    font-size: 40px;
    padding-top: 40px;
    padding-left: 30px;
}

.nav-right-1{
    float: right;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
}

.red{
    color: #e04237;
}

.txt-red{
    color: #e04237;
    font-size: 50px; 
    font-weight:bolder;
    padding-left: 30px;
}

.txt-underline{
    color: #000;
    font-size: 32px;
    float: right;
    padding-right: 30px;
}

.underline{
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 3px;
}

.img-container{
    background-image: url('../assets/maya-maceka-yW-Qgw_IJXg-unsplash.png');
    background-size: cover;
    background-position-y: center;
    height: 500px;
}
